.btnPos {
	position: fixed;
	bottom: 50px;
	left: 27px;
}

.specialBtn {
    width: 110%;
    margin: 5px;
	padding: 10px 50px 10px 50px;
	border-style: none;
	border-radius: 30px;
	color: #fefefe;
	background-color: rgb(0, 102, 255);
    font-size: 20px;
    font-weight: 450;
	font-family: inherit;
}