@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.Loader__modalContainer {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 2;
	display: grid;
	color: #fefefe;
	outline: noe;
	pointer-events: auto;
	background: linear-gradient(90deg, #9d50bb, #2a5ce6);
}

.Loader__mainLy {
    width: 100%;
    height: 50%;
    display: grid;
	place-self: center;
}

.Loader__child {
	height: 100%;
	width: 100%;
    display: grid;
	place-items: center;
	text-align: center;
}

.Loader__title {	
	line-height: 1.5em;
}

.Loader__font {
    font-family: 'Pacifico', cursive;
}

.Loader__close {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	text-decoration: underline;
	cursor: pointer;
	pointer-events: auto;
}