@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.Notification__globalContainer {
	width: 100%;
	background-color: rgb(46 56 77 / 30%);
	z-index: 0;
	display: grid;
	place-items: center;
	align-self: center;
}

.Notification__modalContainer {
	display: grid;
	width: 100%;
	height: 100vh;
	pointer-events: auto;
	position: fixed;
	top: 0;
	z-index: 2;
	background: linear-gradient(90deg, #9d50bb, #2a5ce6);
	color: #fefefe;
	border: 1px solid rgb(24, 24, 24);
	border-radius: 4px;
	outline: 0;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Notification__mainLy {
	width: 92%;
	height: 50%;
	display: grid;
	place-self: center;
}

.Notification__child {
	width: 100%;
	height: 100%;
    display: grid;
	padding: 0 1rem;
	place-self: center;
	place-items: center;
}

.Notification__center {
    display: grid;
	place-items: center;
	row-gap: 1.5em;
	text-align: center;
}

.Notification__title {
	font-family: 'Pacifico', cursive;
	line-height: 1.5em;
}

.Notification__close {
	font-family: 'Pacifico', cursive;
	font-size: 2em;
	text-decoration: underline;
	cursor: pointer;
	pointer-events: auto;
}
